.about {
  grid-column: center-start / center-end;
  margin: 5rem 0;

  @supports(display: grid) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax( 25rem, 1fr ));
    grid-gap: 6rem;
    align-items: start;
  }
  
  &__content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax( 25rem, 1fr ));
    grid-gap: 6rem;
    align-items: start;
    line-height: 2.5rem;
  
    @supports(display: grid) {
      width: auto;
      margin-bottom: 0;
    }
  
    figure img {
     width: 100%;
     height: 100%;
    }
  }

  &__text {
    font-size: 1.8rem;
  }

  &__icon {
    width: 2rem;
    height: 2rem;
    fill: currentColor;
  }

}