// Font
$default-font-size: 1.6rem;

// Colors
$color-white: #ffffff;
$color-black: #000;
$color-grey-dark: #777777;

$color-primary-light: #487cedeb;
$color-primary-dark: #171edceb;

$default-box-shadow: 0 1.5rem 4rem rgba($color-black, .15);

// Devices Width
$iphone-x: 37.5rem;
