.about {
    width: 75%;
    margin: 0 auto;
    box-shadow: 0 3rem 6rem rbga($color-black, .1);
    background-color: rgba($color-primary-light, .1);
    border-radius: 3px;
    padding: 6rem;
    padding-left: 9rem;
    font-size: $default-font-size;
    transform: skewX(-12deg);

    &__shape {
        width: 15rem;
        height: 15rem;
        float: left;
        -webkit-shape-outside: circle(50% at 50% 50%);
        shape-outside: circle(50% at 50% 50%);
        clip-path: circle(50% at 50% 50%);
        transform: translateX(-3rem) skewX(12deg);
        position: relative;
        margin-right: 1rem;
    }

    &__img {
        height: 100%;
        transform: translateX(2rem) scale(1.4);
        backface-visibility: hidden;
        transition: all .5s;
    }

    &__text {
        transform: skewX(12deg);
    }
    
    &__shape,
    &__text {

        @media ( max-width: $iphone-x ) {
            transform: skewX(0);
        }
    }

    @media ( max-width: $iphone-x ) {
        transform: skewX(0);
    }
}