.card-body {
    .card-container:not( :last-child) {
        margin-bottom: 1rem;
    }
}

.skill-card {
    box-shadow: $default-box-shadow;
    padding: 1rem;
}

.card-container {
    display: grid;
    grid-template-columns: 25% 60%;
    align-items: center;
    column-gap: 15px;
   
    
    
    &__skill {
        font-size: 1.7rem;
        justify-self: end;
        text-transform: uppercase;
        font-weight: 400;
        
        p {
            margin-top: 0 !important; 
            margin-bottom: 0 !important; 
        }
    }
    
    &__bar {
        width: 100%;
        height: 2rem;
        justify-self: center;
    }
}

      
  
// .skill-card:hover{
// transform: scale(1.1);
// transition: 0.5s ;
// opacity: 1;
// z-index: 1;
// }