.about-section {
    padding: 10rem 0;

    @media ( max-width: $iphone-x ) {
        padding: 5rem 0;
    }
}

.skill-section {
    padding: 5rem 0;
}

.footer {
    background-color: black;
    color: #fff; 
}
