.navbar {
    background-color: rgba(0, 0, 0, 0.5) !important;
    text-transform: uppercase;
    font-size: 2rem !important;
    padding: 1rem; 
}


.nav-item {
    border: 2px solid transparent;
    margin-right: 5px;
    
    &:hover {
        border: 2px solid $color-white; 
    }
}