*{
  padding: 0;
  margin: 0;
}

.header-content {
  background-image: url("../images/todayP.jpg");
  background-size: contain;
  background-position: initial;
  background-repeat: no-repeat;
  height: 100vh !important;
}

.header-content::before{
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background: linear-gradient(to top, #747474 0%, #e9e9e9 40%);
}

.header-caption {
  background-color: rgba(0,0,0,0.4);
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff !important;
  z-index: 2;
}

.navbar {
  background-color: rgba(0,0,0,0.5) !important;
}


.about-holder{
  position: relative;
  background-image: url('../images/mural.jpeg'); 
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: #fff;
}

.about-holder::before{
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(0,0,0,0.4)
}

.about-holder h2, .about-holder p{
  position: relative;
  z-index: 3;
}

.size-vh-70{
  height: 100vh;
}

footer{ 
  background-color: black;
  color: #fff;
 } 