:root {
  --green: rgb(30, 215, 96);
  --red: rgb(215, 30, 55);
	--light-black: rgb(40, 40, 40);
	--black: rgb(0, 0, 0);
	--grey: rgb(170, 170, 170);
	--sand: rgb(200, 200, 200);
  --white: rgb(255, 255, 255);
  --red2: rgb(4, 249, 102);
  --yellow: rgb(175, 247, 6);
}

*{
  padding: 0;
  margin: 0;
}

.header-content {
  background-repeat: no-repeat;
  font-family: 'Girassol', cursive;
  height: 100vh;
  /* background-color: var(--black);   */
  /* background-image: linear-gradient(-90deg, var(--yellow), var(--red2));  */
}

.header-content::before{
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 6;
  background-image: url("../images/b2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: .35;
}

.header-content::after{
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(transparent, rgb(130, 125, 125));
}

.header-caption {
  position: relative;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff !important;
  z-index: 50;
}

.btn-outline-primary {
  background-color: var(--red);
  color: aliceblue !important;
  border-color: red !important;
  border-radius: none !important;
} 
.btn-outline-primary:hover {
  background-color: rgb(126, 5, 5);
  color: aliceblue !important;
  border-color: rgb(126, 5, 5) !important;
  border-radius: none !important;
} 

.navbar {
  background-color: rgba(0,0,0,0.5) !important;
  font-family: 'Nanum Gothic', sans-serif;
}

.nav-item:hover {
  border-bottom:2px solid red;
}

.about-holder{
  position: relative;
  background-image: url('../images/mural.jpeg'); 
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
} 

 .about-holder::before{
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(0,0,0,0.4)
}

.about-holder h2, .about-holder p{
  position: relative;
  z-index: 3;
}

.infolink {
  color: aliceblue;
}

/* .aboutMeImg {
  background-image: url("../images/todayP.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 10;
  width: 200px;
  height: 200px;
} */

.size-vh-70{
  height: 100vh;
}

footer{ 
  background-color: black;
  color: #fff;
 } 